@model BethanysPieShop.ViewModels.PiesListViewModel


    <h1>@Model.CurrentCategory</h1>
    @foreach (var pie in Model.Pies)
     {
        @*here go comments*@
         @Html.Partial("PieOverviewSummary", pie)
     }
